C8Y_BASEURL=http://ai-demo.latest.stage.c8y.io
APPLICATION_KEY=ai-agents-application-key
C8Y_BOOTSTRAP_TENANT=ai-demo
C8Y_BOOTSTRAP_USER=service-agent
C8Y_BOOTSTRAP_PASSWORD=service-agent
SERVER_PORT=8080
NODE_TLS_REJECT_UNAUTHORIZED = 0
NODE_ENV=development